body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.title {
  text-align: center;
  color: #333;
}
.navbar {
  background: #333;
  padding: 20px;
  color: white;
  font-size:small;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 1.2rem;
  margin: 0;
}
.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.todo-container {
  background:white;
  padding: 10px;
}
.input-group {
  display: flex;
  margin-bottom: 10px;
}
input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  background: #28a745;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
}
button:hover {
  background: #218838;
}
.todo-list {
  list-style: none;
  padding: 0;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  background: white;
  border-radius: 4px;
  margin-bottom: 5px;
}
.todo-item.completed {
  color:red;
}
.button-group {
  display: flex;
  gap: 5px;
}
